*{ 
    margin:0;
    padding:0; 
    box-sizing:border-box; 
    font-family:"Montserrat",sans-serif; 
}

  body {
    opacity: 0;
    transition: opacity .6s ease-in-out;
  }

  body.fade-in {
    opacity: 1;
  }

header {
    width: 100%;
    height: 20vh;
    background-color: #26355D;
    display: flex;
    

        & h1{
            padding-top: 1.7rem;
            padding-right: 1.2rem;
            color: #ffffff;

            & span{
                color: #FF8F00;
            }
        }

        & .logo{
            width: 80px;
            height: 80px;
            margin: 1rem 2rem;
        }

        & ul{
          position: absolute;
          right: 10rem;
        }

        & ul li{
            grid-row: 3;
            list-style: none;
            float: inline-end;


            & img{
                width: 80px;
                margin-right: 0.5rem;
                margin-top: 1rem;
            }

        & img:hover{
            border: 2px solid #AF47D2;
            border-radius: 50%;
        }
        }
}

section.inicio { 
    height: calc(100vh - 20vh);
    padding: 0.5rem 0;
    background-image: url('./src/bg.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carroucel-wrapper{
  width: 100%;
  overflow: hidden; 
}

.carroucel{
  display: flex;
  width: max-content;
  animation: scrolling 20s linear infinite;
}

.carroucel img{
  width: 250px;
  height: 250px;
  flex-shrink: 0; /* importante */
}

@keyframes scrolling{
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

div.cards-wrapper{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 2rem auto;
}

div.cards{
    width: 120px;
    height: 80px;
    background-color: rgba(30, 30, 30, 20%);
    backdrop-filter: blur(10px);
        border-radius: 20px;
        cursor: pointer;
}

div.cards p{
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    color: white;
}

div.cards:hover{
 transform: scale(1, 1.3);
}

.seta{
    position: relative;
    top: 3.6rem;
    padding-left: 40rem;
}

.seta img{
    width: 90px;
}

section.meio{
    width: 100%;
    height: 100vh;
    background-image: url('./src/bg2.jpg');
    opacity: 60%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}